# Archivos y directorios de configuración sensibles
/config/master.key

# Gemas y dependencias
/vendor/

# Archivos generados por Node.js
/node_modules/

# Archivos temporales
/tmp/

# Archivos de log
/log/

# Archivos de assets generados
/public/assets/

# Bases de datos SQLite locales
/db/*.sqlite3
/db/*.sqlite3-journal

# Archivos de configuración de entorno
.env

# Archivos generados por las pruebas
/db/test.sqlite3

# Archivos del sistema operativo
.DS_Store
