# Archivos y directorios de configuración sensibles
/config/master.key

# Gemas y dependencias
/vendor/

# Archivos generados por Node.js
/node_modules/

# Archivos temporales
/tmp/

# Archivos de log
/log/

# Archivos de assets generados
/public/assets/


# Archivos de configuración de entorno
.env

# Archivos del sistema operativo
.DS_Store
